<main style>
  <%# リンク　パンくず %>
  <div class="container-fluid">
    <div class="row pt-2 mx-0">
      <div class="col-5 px-0">
        <nav>
          <ol class="breadcrumb breadcrumb-01">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">PER</li>
          </ol>
        </nav>
      </div>
      <div class="col-5 ml-auto text-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a href="https://twitter.com/share?url=#{request.url}" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-tw.png" srcset="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-tw.png 1x,https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-tw@2x.png 2x" width="30" height="30" alt="Twitter" scale="0"></a></li>
          <li class="list-inline-item"><a href="http://www.facebook.com/share.php?u=#{request.url}" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"><img src="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-fb.png" srcset="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-fb.png 1x,https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-fb@2x.png 2x" width="30" height="30" alt="Facebook" scale="0"></a></li>

          <li class="list-inline-item"><a href="https://timeline.line.me/social-plugin/share?url=https%3A%2F%2Fmighty-cliffs-69725.herokuapp.com%2FStool%2Fhome%2Fstock_per" target="_blank" ><img src="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-line.png" srcset="https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-line.png 1x,https://www.axalpha.com/blog/wp-content/themes/axalpha_blog/img/next/icon-line@2x.png 2x" width="30" height="30" alt="LINE" scale="0"></a></li>
        </ul >
      </div>
    </div>
  </div>

  <%# メイン %>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-9">

        <%# 見出し %>
        <div class="row">
          <div class="col-12 pt-2 text-center border-01">
            <h1>PER計算</h1>
            <p>株価,EPS,時価総額,純利益 をもとにPERを計算します</p>
          </div>
        </div>

        <%# 計算入出力 %>
        <%= form_tag('stock_per', remote: true) do %>
          <%# 計算入出力1 %>
          <div class="cul-form-01 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02">PERを株価、EPS(予想１株あたりの利益) で計算します</h5></div>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">株価</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">EPS</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">PER</div>
            </div>
        
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">株価</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :stock_price ,nil ,class: "input-01", placeholder: "2500", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">EPS</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :eps ,nil ,class: "input-01", placeholder: "150", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name">PER</div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :per ,nil ,id: "result_per1",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>

          <%# 計算入出力2 %>
          <div class="cul-form-02 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02">PER時価総額、純利益・当期純利益 で計算します</h5></div>
              <p class ="col-12 pb-4 px-0 pl-1 supple">※　最小単位を百万円にすると簡単に計算できます</p>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">時価総額</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">純利益</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">PER</div>
            </div>
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">時価総額</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :market_cap ,nil ,class: "input-01", placeholder: "2500", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">純利益</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :net_income ,nil ,class: "input-01", placeholder: "150", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name">PER</div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :per ,nil ,id: "result_per2",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>
        <% end %>

        <%# PERの説明 %>
        <div class="row mb-5 pb-5">
          <div class="col-12">
            <h4>PERとは</h4>
            <p>
              <span class="per-01">PER　=　株価　÷　EPS (１株あたりの利益)</span><br>
              <span class="per-01">PER　=　時価総額　÷　純利益</span><br>    
              PERとは『Price Earnings Ratio』の略で、上記の方法で算出します。PER の値は業種によって水準が異なっており、高いほど割高で、低いほど割安とされています。また、PER を考える際には、業種の平均PER、競合他社のPER を考慮して、割高か割安かを判断する必要があります。なお、東証一部の平均PER は約15倍になっているので、15倍程度を目安として考えることができます。
              
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>






