<% provide(:title, "PCFR(株価キャッシュフロー倍率)計算サイト") %>
<% provide(:description, "PCFRを計算できるサイトです。PCFR = 株価 ÷ 1株当たりの営業キャッシュフロー、PCFR = 時価総額 ÷ 営業キャッシュフロー が計算式です。また、PER とはなんなのか説明しています。") %>

<main>
  <%# リンク　パンくず %>
  <div class="container-fluid">
    <div class="row pt-2 mx-0">
      <div class="col-4 px-0">
        <nav>
          <ol class="breadcrumb breadcrumb-01">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><%=@current_index%></li>
          </ol>
        </nav>
      </div>
      <div class="col-8 text-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a id="b-twitter" href="https://twitter.com/share?url=<%= request.url%>&text=投資分析ツール『Stool』を使って<%=@current_index%>を計算してみよう！" rel="nofollow" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="list-inline-item px-3"><a id="b-facebook" href="https://www.facebook.com/share.php?u=<%=request.url%>" rel="nofollow" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>    
          <li class="list-inline-item"><a id="b-line" href="https://social-plugins.line.me/lineit/share?url=<%=request.url%>" target="_blank" rel="nofollow"><i class="fab fa-line fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <%# メイン %>
  <div class="container-fluid mt-4">
    <div class="row justify-content-around">
      <div class="col-9">

        <%# 見出し %>
        <div class="row">
          <div class="col-12 text-center border-01">
            <h2><%=@current_index%>計算</h2>
            <p>株価、1株当たりの営業キャッシュフロー、時価総額、営業キャッシュフロー をもとに<%=@current_index%>を計算します</p>
          </div>
        </div>

        <%# 計算入出力 %>
        <%= form_tag('stock_pcfr', remote: true) do %>
          <%# 計算入出力1 %>
          <div class="cul-form-01 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02"><%=@current_index%>を株価、1株当たりの営業キャッシュフロー で計算します</h5></div>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">株価</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">1株当たりの営業キャッシュフロー</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block "><%=@current_index%></div>
            </div>
        
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">株価</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :stock_price ,nil ,class: "input-01", placeholder: "100", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">1株当たり営業キャッシュフロー</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :cfps ,nil ,class: "input-01", placeholder: "400", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name"><%=@current_index%></div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :pcfr ,nil ,id: "result_pcfr1",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>

          <%# 計算入出力2 %>
          <div class="cul-form-02 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02"><%=@current_index%>を時価総額、営業キャッシュフロー で計算します</h5></div>
              <p class ="col-12 pb-4 px-0 pl-1 supple">※　百万円から入力することで簡単に計算できます</p>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">時価総額</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">営業キャッシュフロー</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block "><%=@current_index%></div>
            </div>
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">時価総額</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :market_cap ,nil ,class: "input-01", placeholder: "20", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">営業キャッシュフロー</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :operating_cashflows ,nil ,class: "input-01", placeholder: "100", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name"><%=@current_index%></div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :pcfr ,nil ,id: "result_pcfr2",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>
        <% end %>

        <%# ROEの説明 %>
        <div class="row mb-5 pb-5">
          <div class="col-12">
            <h4>PCFR（株価キャッシュフロー倍率）とは</h4>
            <p>
              <span class="per-01">PCFR　=　株価　÷　1株当たりの営業キャッシュフロー</span><br>
              <span class="per-01">PCFR　=　時価総額　÷　営業キャッシュフロー</span><br>    
              ROEとは『Price Cash Flow Ratio』の略で、上記の方法で算出します。PCFRが高いほど割高で、低いほど割安とされています。また、PCFRを考える際には、業種の平均PCFR、競合他社のPCFRを考慮して、割高か割安かを判断する必要があります。一般的には、PCFRが7 倍以下であれば割安と判断されます。
              
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>






