<% provide(:title, "PER(純資産倍率)計算サイト") %>

<main>
  <%# リンク　パンくず %>
  <div class="container-fluid">
    <div class="row pt-2 mx-0">
      <div class="col-4 px-0">
        <nav>
          <ol class="breadcrumb breadcrumb-01">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><%=@current_index%></li>
          </ol>
        </nav>
      </div>
      <div class="col-8 text-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a id="b-twitter" href="https://twitter.com/share?url=<%= request.url%>&text=投資分析ツール『Stool』を使って<%=@current_index%>を計算してみよう！" rel="nofollow" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
          <li class="list-inline-item px-3"><a id="b-facebook" href="https://www.facebook.com/share.php?u=<%=request.url%>" rel="nofollow" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>    
          <li class="list-inline-item"><a id="b-line" href="https://social-plugins.line.me/lineit/share?url=<%=request.url%>" target="_blank" rel="nofollow"><i class="fab fa-line fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <%# メイン %>
  <div class="container-fluid mt-4">
    <div class="row justify-content-around">
      <div class="col-9">

        <%# 見出し %>
        <div class="row">
          <div class="col-12 text-center border-01">
            <h2><%=@current_index%>計算</h2>
            <p>株価,EPS,時価総額,純利益 をもとにPERを計算します</p>
          </div>
        </div>

        <%# 計算入出力 %>
        <%= form_tag('stock_per', remote: true) do %>
          <%# 計算入出力1 %>
          <div class="cul-form-01 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02">PERを株価、EPS(予想１株あたりの利益) で計算します</h5></div>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">株価</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">EPS</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">PER</div>
            </div>
        
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">株価</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :stock_price ,nil ,class: "input-01", placeholder: "2500", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">EPS</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :eps ,nil ,class: "input-01", placeholder: "150", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name">PER</div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :per ,nil ,id: "result_per1",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>

          <%# 計算入出力2 %>
          <div class="cul-form-02 ">
            <div class="row">
              <div class="col-12 px-0 index-01"><h5 class="index-02">PERを時価総額、純利益(当期純利益)で計算します</h5></div>
              <p class ="col-12 pb-4 px-0 pl-1 supple">※　最小単位を百万円にすると簡単に計算できます</p>
            </div>

            <div class="row justify-content-between pb-md-1 input-name">
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">時価総額</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">純利益</div>
              <div class="col-md-3 px-0 pl-1 d-none d-md-inline-block ">PER</div>
            </div>
              <div class="row justify-content-between align-items-center"%>
                <div class="col-3 d-md-none px-0 input-name">時価総額</div>
                <div class="col-9 col-md-3 px-0"><%= number_field_tag :market_cap ,nil ,class: "input-01", placeholder: "2500", step: "0.01" %></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> ÷ </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-1"> ÷ </div>

                <div class="col-3 d-md-none px-0 input-name">純利益</div>
                <div class="col-9 col-md-3 px-0 "><%= number_field_tag :net_income ,nil ,class: "input-01", placeholder: "150", step: "0.01"%></div>
                <div class="col-12 col-md-auto d-none d-md-inline-block text-md-center input-02"> = </div>

                <!--スマホサイズの時-->
                <div class="col-12 col-md-auto d-md-none pl-2 py-2 text-md-center input-02-2"> || </div>

                <div class="col-3 d-md-none px-0 input-name">PER</div>
                <div class="col-9 col-md-3 px-0 "><%= text_field_tag :per ,nil ,id: "result_per2",class: "input-01" ,placeholder: "結果", step: "0.01", readonly: true%></div>
                <div class="col-12 text-center mt-5 mt-md-5"><%= submit_tag "計算する",class: "input-03" %></div>
              </div>
          </div>
        <% end %>

        <%# PERの説明 %>
        <div class="row mb-5 pb-5">
          <div class="col-12">
            <h4>PER(株価収益率)とは</h4>
            <p>
              <span class="per-01">PER　=　株価　÷　EPS (１株あたりの利益)</span><br>
              <span class="per-01">PER　=　時価総額　÷　純利益</span><br>    
              PERとは『Price Earnings Ratio』の略で、上記の方法で算出します。PER の値は業種によって水準が異なっており、高いほど割高で、低いほど割安とされています。また、PER を考える際には、業種の平均PER、競合他社のPER を考慮して、割高か割安かを判断する必要があります。なお、東証一部の平均PER は約25倍になっているので、25倍程度を目安として考えることができます。
              
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>






