<!DOCTYPE html>
<html>
  <head>
    <title>PER(株価収益率)計算サイト | 投資家のためのツール - Stool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>

    <!--広告（上）-->
    <div class="container-fluid border-bottom ">
      <div class="row">
        <div class="col-12 my-2 ">
          <img src="images/image-03jpg" class="img-fluid" style="width: 100%; height: 80px;" >
        </div>
      </div>
    </div>

    <%= yield %>

    <!--広告（下）-->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 my-2 ">
          <img src="images/image-03jpg" class="img-fluid" style="width: 100%; height: 80px;" >
        </div>
      </div>
    </div>
    
    <%= render "layouts/footer" %>
  </body>
</html>
