<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 投資家のための計算ツール - Stool</title>
    <meta name="description" content="<%= yield(:description) %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="2IQqsAogQ2_gHmrJnEc15Y4WdVrdEtB1BYwwiUEQPOE" />
    <meta name="google-site-verification" content="IWUQaI2KxUFUgXvWoG3y8JrORCnOKNYLtnJ_TsQ6TVo" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <%= render "layouts/nav" %>

    <!--広告（上）-->
    <%= render "layouts/top-ad" %>


    <!--メインコンテンツ-->
    <%= yield %>


    <!--広告（下）-->
    <%= render "layouts/bottom-ad" %>

    <!--フッター-->
    <%= render "layouts/footer" %>
  </body>
</html>
